@import "tailwindcss";

* {
    @apply text-neutral-200;
}

h1, h3 {
    margin-bottom: 0 !important;
}

h2 {
    margin-top: 0.5em !important;
}

a {
    text-decoration: none;
    @apply text-green-200;
}

a:hover {
    text-decoration: underline;
}

pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

code {
    font-size: 0.8rem !important;
    font-weight: 500 !important;

    padding: 0.2rem 0.4rem !important;
    border-radius: 0.25rem !important;

    @apply bg-neutral-800;
}

code::before, code::after {
    content: "" !important;
}